@model WorkDB.Models.Tournament

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>
<h4>Турнир</h4>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=@Html.DisplayFor(model => model.Title)" alt="Card image cap">
            <div class="card-body d-flex flex-column align-items-start">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <canvas class="my-4 chartjs-render-monitor" id="myChart" width="546" height="230" style="display: block; width: 546px; height: 230px;"></canvas>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <strong class="d-inline-block mb-2 text-primary">@Html.DisplayFor(model => model.Country)</strong>
        <h3 class="mb-0">
            <a class="text-dark">@Html.DisplayFor(model => model.Title)</a>
        </h3>
        <div class="mb-1 text-muted">@Html.DisplayFor(model => model.Date)</div>
        <p class="card-text mb-auto">@Html.DisplayFor(model => model.Post)</p>
        <div>
            <table class="table">
                <tr>
                    <th>Никнейм</th>
                    <th>Очки</th>
                </tr>
                @foreach (var item in Model.Enrollments)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Player.NickName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@{string names = "";
    string grades = "";
    foreach (var item in Model.Enrollments)
    {
        names = names + item.Player.NickName + ",";
        grades = grades + item.Grade + ",";
    }
}
<p>
    <input class="btn btn-secondary" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id=Model.TournamentID })'">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TournamentID }) |*@
    <input class="btn btn-warning" type="button" value="Вернуться обратно" onclick="location.href='@Url.Action("Index")'">
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var array1 = "@string.Join(",",names)";
    var array2 = [@string.Join(",",grades)];
    var names = array1.split(",");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: names,
            datasets: [{
                data: array2,
                lineTension: 0,
                backgroundColor: '#8affad',
                borderColor: '#8affad',
                borderWidth: 4,
                pointBackgroundColor: '#8affad'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
